
<div class="container my-5">
  <h1 class="fw-bold">
    <%= t("passwords.forms.update_password_title") %>
  </h1>

  <%= form_with model: @user, url: passwords_path(token: params[:token]), method: :put do |f| %>
    <%= f.password_field :password, 
      placeholder: t("passwords.forms.update_password_field"), 
      required: true, 
      autocomplete: "new-password", 
      maxlength: 72,
      class: "form-control mb-3"
    %>
    <%= f.password_field :password_confirmation, 
      placeholder: t("passwords.forms.update_password_confirm_field"), 
      required: true, 
      autocomplete: "new-password", 
      maxlength: 72,
      class: "form-control mb-3"
    %>
    <%= f.submit t("buttons.save"), class: "btn btn-primary" %>
  <% end %>
</div>

