<section class="container my-5"> 
  <h1 class="fw-medium text-uppercase">Blogging</h1>
  
  <%= form_with url: posts_path, method: :get do |form| %>
    <%= form.search_field :query, 
      autofocus: true, 
      placeholder: t("posts.search_placeholder"), 
      value: params[:query],
      class: "form-control mb-3"
    %>
    <%= form.submit t("buttons.search"), class: "btn btn-primary mb-1" %>
  <% end %>

  <ul class="list-group mb-3">
    <% @posts.each do |post|  %>
      <li class="d-flex flex-column flex-md-row align-items-start align-items-md-center border-bottom mb-3">
        <span class="w-auto text-nowrap me-2"><%= post.created_at.to_formatted_s(:short) %></span>
        <%= link_to post.title, post, class: "list-group-item list-group-item-action border border-0 text-wrap me-md-2 px-0 px-md-2" %>
        <% if post.user == current_user  %>
          <span class="w-auto text-nowrap" if post.user == current_user>
            <%= t("posts.author") %>: <%= t("posts.author_you") %>
          </span>
        <% end %>
        <% if post.user != current_user  %>
          <span class="w-auto text-nowrap" if post.user != current_user>
           <%= t("posts.author") %>: <%= post.user.first_name + " " + post.user.last_name %></span>
        <% end %>
      </li>
    <% end  %>
  </ul>
  <nav aria-label="Posts navigations">
    <%= paginate @posts, theme: "bootstrap-5" %>
  </nav>
</section>

